*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7870B3 #494A4D;
}

@font-face{
  font-family: 'adam-shelby';
  src: url('../assets/fuentes/ADLaMDisplay-Regular.ttf');
}

@font-face{
  font-family: 'gorila-blue';
  src: url('../assets/fuentes/GloriaHallelujah-Regular.ttf');
}

body {
  background-color:black;
}

.navbar navbar-dark bg-dark {
  position: sticky;
  top: 0px;
}

.collapse {
  position: sticky;
  top: 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  height: 5vh; 
  margin: 1%;
}

.subbox a {
  width: 13vw;
  height: 15vh;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-family:sans-serif
}

.logo {
  width: 8%;
  position: absolute;
  left: 0px;
}

.cabezera {
  font-family:cursive;
  color: #F49712;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  border-bottom: 2px solid black;
}

.instagram {
  width: 5%;
  position: absolute;
  right: 10px;
  bottom: 20px;
  position:fixed;
}

.cabezera a {
  color: #F49712;
}

.cabezera p {
  font-size: x-large;
}


.subdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pie-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.div-pie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40%;
}



.imagen-pequeña {
  width: 5%;
  position: absolute;

}

button {
  font-family: 'adam-shelby';
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid whitesmoke;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem white , -.5rem -.5rem 1rem gray;
}

button:hover {
  box-shadow: .5rem .5rem 1rem gray , -.5rem -.5rem 1rem white;
}

button:active {
  box-shadow: inset .2rem .2rem 1rem white,  inset -.2rem -.2rem 1rem white;
}


.buton {
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid whitesmoke;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem white , -.5rem -.5rem 1rem gray;
  text-decoration:underline;
}

.pie-pagina .div-pie .sub-div p {
  width: 10vw;
  height: 10vh;
  font-size: x-large;
  color:#FDFDFD ;
  font-style: italic;
  font-family: 'gorila-blue';
}

.pie-pagina {
  border-top: 4px solid black;
  background-color: #F49712;
  padding-bottom: 20px;
}

.cabezera {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-cabezera {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div-cabezera p {
  width: 100%;
  padding: 50px;
}

.div-cabezera h1 {
  font-size: 50px;
  padding: 60px;
}

.subdiv {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 1%;
}

.fanta-pic {
  width: 30%;
}

.container {
  background-color: black;
  display: flex;
}

.productos {
  display: flex;
  background-color: black;
}

.sub-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.sub-productos p {
  width: 50%;
  font-size: xx-large;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
}

.sub-productos h2 {
  font-size: xx-large;
}


main section div img {
  border: solid 5px #FDFDFD;;
  border-radius: 5px;
  background-color: black;
}

main section div {
  color: #F49712;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: black;
}

.carrusel .carousel-inner .carousel-item .uno {
  width: 25vw;
  height: 20vh;
}
.carrusel .carousel-inner .carousel-item .dos {
  width: 25vw;
  height: 20vh;
}

.carrusel .carousel-inner .carousel-item .tres {
  width: 25vw;
  height: 20vh;
}
@media (max-width:600px) {
  button {
    padding: 5px;
  }

  body {
    background-color:black;
  }
  
  .cabezera {
    background-color: black;
  }
  
  main section div {
    color: #F49712;
  }

  .collapse .bg-dark .box .subbox button a{
    font-size: 13px;
  }

  header div .subdiv {
    font-size: 20px;
  }
  
  .container .productos .sub-productos p {
    font-size: 15px;
  }

  .imagen-pequeña {
    width: 60px;
    height: 60px;
    margin-bottom: -430px;
  }
  
  .pie-pagina .div-pie .sub-div p {
    font-size: 15px;
    width: 100px;
  }

  .pie-pagina .div-pie .sub-div button {
    font-size: 10px;
    margin-left: 200%;
  }

}

@media (max-width:900px) {
  body {
    background-color:black;
  }
  
  .cabezera {
    background-color: black;
  }
  
  main section div {
    color: #F49712;
  }

  .box a {
    font-size: 17px;
  }
  
  .container .productos .sub-productos p {
    font-size: 20px;
  }

  .imagen-pequeña {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -550px;
  }
  
  .pie-pagina .div-pie .sub-div p {
    font-size: 15px;
    width: 100px;
  }

  .pie-pagina .div-pie .sub-div button {
    font-size: 13px;
    margin-right: -100%;
  }
}
