*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7870B3 #494A4D;
}

@font-face{
  font-family: 'adam-shelby';
  src: url('../assets/fuentes/ADLaMDisplay-Regular.ttf');
}

@font-face{
  font-family: 'gorila-blue';
  src: url('../assets/fuentes/GloriaHallelujah-Regular.ttf');
}

.collapse {
  position: sticky;
  top: 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  height: 5vh; 
  margin: 1%;
}

.subbox a {
  width: 13vw;
  height: 15vh;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-family:sans-serif
}

.logo {
  width: 8%;
  position: absolute;
  left: 0px;
}

.cabezera {
  font-family:cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FDFFFF;
  border-bottom: 2px solid #FDFFFF;
}

.instagram {
  width: 5%;
  position: absolute;
  right: 10px;
  bottom: 20px;
  position:fixed;
}

.pie-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.div-pie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40%;
}


.imagen-pequeña {
  align-self: flex-start;
  justify-self:start;
}

.imagen-pequeña {
  width: 5%;
  position: absolute;
 
}

button {
  font-family: 'adam-shelby';
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem black , -.5rem -.5rem 1rem black;
}

button:hover {
  box-shadow: .5rem .5rem 1rem #025C1F , -.5rem -.5rem 1rem #025C1F;
}

button:active {
  box-shadow: inset .2rem .2rem 1rem white,  inset -.2rem -.2rem 1rem white;
}


.buton {
  background-color: transparent;
  font-weight: bold;
  color:#FFF400;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid whitesmoke;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem white , -.5rem -.5rem 1rem gray;
  text-decoration:none;
}

.pie-pagina .div-pie .sub-div p {
  width: 10vw;
  height: 10vh;
  font-size: x-large;
  color:#FDFDFD ;
  font-style: italic;
  font-family: 'gorila-blue';
}

.pie-pagina {
  border-top: 4px solid black;
  background-color: #025C1F;
  padding-bottom: 10px;
}

.titulo-sprite {
  font-size: 100px;
  color: #025C1F;
  text-align: center;
  background-color:#FFF400;
  padding: 25px;
}

.sprite-imagen {
  width: 20%;
}

.sprite-light {
  width: 20%;
}

.sprite-zero {
  width: 20%;
}

body {
  background-color: #FFF400;
}

main section div img {
  border: 5px groove #025C1F;
  border-radius: 5px;
} 

main section div p {
  font-family:cursive;
  font-size: 20px;
}

.caja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcaja {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

header p {
  font-family:cursive;
  font-size:medium;
  text-align: center;
  font-style: italic;
  padding: 100px;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.carrusel .carousel-inner .carousel-item .uno {
  width: 80vw;
  height: 70vh;
}
.carrusel .carousel-inner .carousel-item .dos {
  width: 80vw;
  height: 70vh;
}

.carrusel .carousel-inner .carousel-item .tres {
  width: 80vw;
  height: 70vh;
}

@media (max-width:600px) {

  button {
    padding: 5px;
  }

  .collapse .bg-dark .box .subbox button a{
    font-size: 10px;
  }

  .titulo-sprite {
    font-size: 30px;
  }

  header p {
    font-size: 13px;
  }
  

  .carrusel .carousel-inner .carousel-item .uno {
    width: 80vw;
    height: 40vh
  }

  .carrusel .carousel-inner .carousel-item .dos {
    width: 80vw;
    height: 40vh
  }

  .carrusel .carousel-inner .carousel-item .tres {
    width: 80vw;
    height: 40vh;
  }
  


  
}
@media (max-width:900px) {
  button {
    padding: 4px;
  }

  .collapse .bg-dark .box .subbox button a{
    font-size: 15px;
  }

  .titulo-sprite {
    font-size: 40px;
  }

  .sprite-light {
    width: 100%
  }

  .sprite-zero {
    width: 100%;
    
  }

  .sprite-imagen {
    width: 100%;
   
  }
   .pie-pagina .div-pie .sub-div p {
    font-size: 15px;
    width: 100px;
  }

  .pie-pagina .div-pie .sub-div button {
    font-size: 10px;
    margin-left: 250%;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .productos .caja {
    display: flex;
    flex-direction: column;
  }
} 