*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #7870B3 #494A4D;
}

body {
  background-color:#292C3E
}

@font-face{
  font-family: 'adam-shelby';
  src: url('../assets/fuentes/ADLaMDisplay-Regular.ttf');
}

@font-face{
  font-family: 'gorila-blue';
  src: url('../assets/fuentes/GloriaHallelujah-Regular.ttf');
}

.navbar navbar-dark bg-dark {
  position: sticky;
  top: 0px;
}

.collapse {
  position: sticky;
  top: 0px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15vw;
  height: 5vh; 
  margin: 1%;
}

.subbox a {
  width: 13vw;
  height: 15vh;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-family:sans-serif
}

.logo {
  width: 8%;
  position: absolute;
  left: 0px;
}

.cabezera {
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#DD081A;
  border-bottom: 2px solid black;
}

.cabezera-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292C3E;
}

.titulo-uno {
  font-family: 'adam-shelby';
  font-size: 50px;
  color: #FDFDFD;
  padding: 5%;
}

.instagram {
  width: 5%;
  position: absolute;
  right: 10px;
  bottom: 20px;
  position:fixed;
}

.cabezera-pagina h2 {
  font-size: 30px;
  color: #FDFDFD;
}

.cabezera-pagina img {
  width: 50%;
  height: 50%;
}

.cabezera-pagina p {
  color: #FDFDFD;
  width: 50%;
  font-style: italic;
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.productos {
  color:#FDFDFD;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color:#292C3E;
  padding: 10px;
}

.light {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coca-origin img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 40%;
}

.productos p {
  color: whitesmoke;
  width: 50%;
  font-style: italic;
  font-size: 20px;
  font-family:cursive;
  background-color:#494A4D;
  border-radius: 5px;
}

.imagen {
  width: 40%;
}

.zero {
  width: 20%;
}

.coca-zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pie-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.div-pie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40%;
}



button {
  font-family: 'adam-shelby';
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem black , -.5rem -.5rem 1rem black;
}

button:hover {
  box-shadow: .5rem .5rem 1rem #DD081A , -.5rem -.5rem 1rem #DD081A;
}

button:active {
  box-shadow: inset .2rem .2rem 1rem white,  inset -.2rem -.2rem 1rem white;
}


.buton {
  background-color: transparent;
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid whitesmoke;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem white , -.5rem -.5rem 1rem gray;
  text-decoration:underline;
 
}

.pie-pagina .div-pie .sub-div p {
  width: 10vw;
  height: 10vh;
  font-size: x-large;
  color:#DD081A ;
  font-family: 'gorila-blue';
}

.pie-pagina {
  border-top: 4px solid black;
  background-color:#FDFDFD;
  padding-bottom: 20px;
}

main section div img {
  border: solid 3px  #FDFDFD;
  border-radius: 3px;
}

header img {
  border: solid 3px  #FDFDFD;
  border-radius: 3px;
}

.imagen-pequeña {
  width: 6%;
  margin-bottom: -150px;
}

.collapse .bg-dark .box .subbox a{
  font-family: fantasy;
  background-color:#DD081A;
  width: 15vw;
  height: 20vh;
  border-radius: 5px;
}

@media (max-width:600px) {
  .collapse .bg-dark .box .subbox a{
    font-family: fantasy;
    background-color:#DD081A;
    width: 15vw;
    height: 20vh;
    border-radius: 5px;
  }

  .titulo-uno {
    font-size: 30px;
  }

  .cabezera-pagina p {
    font-size: 13px;
  }

  .productos .light p {
    font-size: 10px;
  }

  .productos .coca-origin p {
    font-size: 10px;
  }

  .productos .coca-zero p {
    font-size: 10px;
  }

  .productos .coca-zero h4 {
    font-size: 20px;
  } 

  .productos .coca-origin h2 {
    font-size: 20px;
  }

  .pie-pagina .div-pie .sub-div p {
    font-size: 15px;
    width: 100px;
  }

  .pie-pagina .div-pie .sub-div a  {
    font-size: 10px;
    margin-left: 250%;
  }

} 

@media (max-width:900px) {

  main {
    display: flex;
    flex-direction: column;
  }

  main .productos {
    flex-direction: column;
  }
  
  .coca-origin {
    margin-left: 30%;
  }

  .cabezera-pagina p {
    font-size: 20px;
  }

  .productos .light p {
    font-size: 15px;
  }

  .productos .coca-origin p {
    font-size: 15px;
  }

  .productos .coca-zero p {
    font-size: 15px;
  }

  .productos .coca-zero h4 {
    font-size: 20px;
  } 

  .productos .coca-origin h2 {
    font-size: 20px;
  }

   .pie-pagina .div-pie .sub-div p {
    font-size: 15px;
    width: 100px;
  }

  .pie-pagina .div-pie .sub-div a {
    font-size: 10px;
    margin-left: 250%;
  }

  
} 